.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  /* padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white; */
  /* z-index: 100; */
  /* top: 0; */
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.header__left > img {
  height: 40px;
}

.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option > .MuiSvgIcon-root {
  color: gray;
}

.header__option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option--active:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option--active {
  border-bottom: 3px solid #2e81f4;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}

.header__right {
  display: flex;
}

body {
  background-color: #f0f2f5;
}

a {
  /* color: #0de7fd; */
  text-decoration: none !important;
}
div .cardDimension :nth-child(1) {
  /* width: 16em !important; */
  /* height: 16em !important; */
  margin-right: 0% !important;
}

.fb__button {
  background-color: #1877f2;
  color: white;
  border: none;
  font-size: 20px;
  line-height: 48px;
  width: 370px;
  border-radius: 6px;
  font-weight: 700;
  margin: 12px 0;
}
