.friend_requester_card {
  display: flex;
  padding: 10px;
  border-radius: 3px;
}
.friend_requester_avatar_img {
  width: 40px;
}
.suggestedFriendsList{
    margin-left: 10%;
    margin-top: 2%;
}
.friend_requester_details {
  padding: 8px;
}
.friend_request_actions {
  margin-left: auto;
  margin-right: 0;  
}
.addFriendBtn {
  background-color: rgb(99, 99, 237);
  color: white;
  border: 3px solid rgb(99, 99, 237);
  border-radius: 4px;
  padding: 5px;
}
